@inherits UmbracoViewPage
<footer>
<div class="container-fluid">
    <div class="row">
            <div class="footer-text-section">
                <div class="content-social">
                    <p class="footer-text-section" > &copy; Nikola Vaniščáková @DateTime.Today.Year.ToString(), všetky práva na obsah vyhradené</p>
                    </div>
             </div>
        </div>
    </div>
</footer>