@inherits UmbracoViewPage
<footer>
<div class="container-fluid">
    <div class="row">
            <div class="footer-text-section">
                <div class="content-social">
                    <p class="footer-text-section" > &copy; Nikola Vaniščáková @DateTime.Today.Year.ToString(), všetky práva na obsah vyhradené</p>
                        <span class="rounded-icon"><i class="fa fa-phone fa-fw"></i></span> +421 949 347 120 <br />
                        <span class="rounded-icon"><i class="fa fa-envelope fa-fw"></i></span> nikolavaniscakova@gmail.com <br/>
                        <a class="square-icon" href="https://www.facebook.com/ved.nik.vies/" target="_blank" title="Facebook"><i class="fab fa-facebook fa-fw"></i></a>
                    </div>
             </div>
        </div>
    </div>
</footer>