@inherits UmbracoViewPage

<div class="blog-article-preview">
    <a href="http://www.ziskovyeshop.sk">
        <div class="row">
            <div class="col-md-6">
                <div class="bap-image">
                    <img src="@Url.Content("~/Styles/images/7it-pasci-mockup-2.png")" alt="Ziskový eshop" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="bap-title">
                    <h2>Ziskový eshop</h2>
                </div>
                <div class="bap-text">
                    <p>
                        Ako zarábať online predajom (web, eshop, ...), nech predávate čokoľvek?
                        Ako predávať viac a za vyššie ceny ako konkurencia?
                        Ako vyliečiť stratový web a eshop?
                        Ako nenaletieť na rozprávky tvorcom webov a markeťákom,
                        ktorými Vás oberajú o peniaze?
                    </p>
                </div>
            </div>
        </div>
    </a>
</div>