@inherits UmbracoViewPage

@{
    var categoryList = Umbraco.Content(2078);
}
<div class="blog-categories">
    <div class="bc-title">Blog</div>
    <ul class="bc-menu">
        <li><a href="@Url.Content("~/blog")">Všetky články</a></li>
        @foreach (var child in categoryList.Children)
        {
            <li><a href="@child.Url">@child.Value("pageTitle")</a></li>
        }
    </ul>
</div>
