@inherits UmbracoViewPage

<div class="blog-header">
    <a class="navbar-brand" href="@Url.Content("~/home/blog")" hreflang="sk"><img class="header-logo" src="@Url.Content("~/styles/images/Logo3.png")" alt="PlantOasis" /></a>
</div>
