h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

p, div {
    font-family: 'Open Sans', sans-serif;
}

html {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #2B292E;
}

p.medium {
    font-size: 26px;
}

p.big {
    font-size: 32px;
}

a {
    color: #2B292E;
    text-decoration: none;
}
a:hover {
    color: #000;
    text-decoration: none;
}
h1, h2, h3 {
    color: #2B292E;
    font-weight: bold;
}

/* Header */
.header .top-bar {
    padding: 10px 0;
}

/* Header menu */
.navbar {
    border-radius: 0;
    min-height: 0;
    margin-bottom: 0;
}
.navbar-default .navbar-nav {
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-default .navbar-nav > li {
    padding: 0;
}
.navbar-default .navbar-nav > li > a {
    text-transform: uppercase;
    font-size: 18px;
    color: #2B292E;
    text-decoration: none;
    padding: 10px;
    border-bottom: 5px solid transparent;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #2B292E;
    text-decoration: none;
    background-color: none;
}
.navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:focus {
    color: #2B292E;
    text-decoration: none;
}
.navbar-logo {
    width: 200px;
    text-align: center;
    display: inline-block;
    margin: auto;
}
.navbar-logo a {
    text-decoration: none;
    color: #2B292E;
}

.navbar-logo span {
    font-size: 18px;
    font-weight: bold;
}
@media(max-width: 767px) {
    .navbar-logo {
        float: left;
    }
}
@media(min-width: 768px) {
    .header .top-bar {
        text-align: center;
    }
    .navbar-logo {
        margin-right: 20px;
    }
    .navbar-menu {
        margin-left: 20px;
    }
    .navbar-default .navbar-nav > li > a:hover {
       
    }
    .navbar-collapse.collapse.navbar-menu {
        margin: auto;
        display: inline;
        padding-top: 25px;
    }
}


/* Footer */
.footer {
    padding-top: 20px;
    padding-bottom: 50px;
    color: #FFF;
    background-color: #373F43;
    /*background-image: -moz-linear-gradient(0deg, #1B191E 0%, #2B292E 100%);
    background-image: -webkit-linear-gradient(0deg, #1B191E 0%, #2B292E 100%);
    background-image: -ms-linear-gradient(0deg, #1B191E 0%, #2B292E 100%);
    background-image: linear-gradient(0deg, #1B191E 0%, #2B292E 100%);*/
}
.footer .headline {
    margin-top: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.footer-menu {
    margin-top: 30px;
    text-align: center;
}
.footer-menu a {
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFF;
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
}
.footer-menu a:hover {
    text-decoration: none;
    border-bottom: 2px solid #FFF;
}
.footer .contact {
    margin-top: 20px;
}
.footer .contact a {
    color: #FFF;
    text-decoration: none;
}
.footer .contact a:hover {
    color: #FFF;
    text-decoration: underline;
}
.footer p.contact a {
    display: block;
    padding-left: 40px;
    position: relative;
}
.footer p.contact a .rounded-icon {
    background-color: #FFF;
    color: #2B292E;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    position: absolute;
    left: 0;
    top: -5px;
}
.footer .copyright {
    text-align: center;
    color: #FFF;
    padding-top: 30px;
}
.footer .copyright a {
    color: #FFF;
    text-decoration: none;
}
.footer .copyright a:hover {
    color: #FFF;
    text-decoration: underline;
}
.footer .copyright a.hidden-link:hover {
    color: #FFF;
    text-decoration: none;
}
.footer .copyright span {
    padding: 0 5px;
}
.footer .developer {
    text-align: center;
    color: #FFF;
    font-size: 12px;
}
.footer .developer a {
    color: #FFF;
    text-decoration: none;
}
.footer .developer a:hover {
    color: #FFF;
    text-decoration: underline;
}

.footer .gdpr {
    text-align: center;
    padding-top: 20px;
}
.footer .gdpr a {
    color: #FFF;
    text-decoration: underline;
}

/* Body */
.page-body {
    margin: 100px 0 0 0;
}

/* Message div */
.message-div {
    padding: 0;
    padding-bottom: 100px;
    text-align: center;
}
.message-div h1 {
    letter-spacing: -2px;
    color: #000;
}
.message-div p {
    margin: auto;
    padding-top: 30px;
    font-weight: bold;
    letter-spacing: 1px;
}
.message-div p em {
    font-weight: normal;
}
.message-error h1, .message-error p {
    color: red;
}
.message-div .underline {
    text-decoration: underline;
}
.message-div .fa-spinner {
    font-size: 32px;
}

/* Errors */
.field-validation-error {
    color: #FF0000;
    display: block;
}
.validation-summary-errors {
    color: #FF0000;
}
.validation-summary-errors ul, .validation-summary-errors ul li {
    list-style: none;
    padding: 0;
}
.me{
    border-radius:20%;
}
/* Buttons */
.btn.btn-primary {
    color: white;
    background-color: #5c9d9d;
    border-color: #5c9d9d;
    text-shadow: none;
    border-radius: 3px;
}
    .btn.btn-primary:hover {
        color: #fff;
        background-color: #4e8484;
        border-color: #4e8484;
    }
.btn.btn-default {
    color: white;
    border-color: #2B292E;
    text-shadow: none;
    border-radius: 3px;
}
.btn.btn-default:hover {
    color: white;
    border-color: #003973;
}

/* Menu */
@media(max-width: 767px) {
    .open > .dropdown-menu.desktop-only {
        display: none;
    }

    .navbar-nav li.desktop-only {
        display: none;
    }
}

@media(min-width: 768px) {
    .navbar-nav li.mobile-only {
        display: none;
    }
}
.navbar-default .navbar-nav > li > a {
    padding: 10px 20px;
}



/* Mobile submenu */
.mobile-submenu {
    list-style: none;
    padding: 0;
    margin: 0;
}
.mobile-submenu li {
    list-style: none;
    padding: 5px 0;
    margin: 0;
}
.mobile-submenu li a {
    text-decoration: none;
    padding: 5px 20px;
}
.nav > li > a.mobile-submenu-caret {
    position: absolute;
    width: 50px;
    right: 10px;
    top: 0;
    z-index: 100;
}
@media(min-width: 768px) {
    .nav > li > a.mobile-submenu-caret {
        display: none;
    }
}

/* Image */
img.img-responsive, .img-responsive img {
    max-width: 100%;
}


/* Home banner */
.container-fluid.home-banner .col-md-12 {
    padding-left: 0;
    padding-right: 0;
}
.home-banner-img img {
    width: 100%;
    position: relative;
}
.home-banner-logo {
    padding-top: 100px;
    position: absolute;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.2);
}
.home-banner-logo .logo-content {
    position: absolute;
    top: calc(50vh - 100px);
    left: 0;
    width: 100%;
    transform: translateY(-50%);
}
.home-banner-logo img {
    width: 190px;
    margin: auto;
}
.home-banner-logo span {
    font-size: 48px;
    letter-spacing: -1px;
    color: #FFF;
    display: block;
}
.home-banner-cta {
    position: absolute;
    text-align: center;
    left: 0;
    width: 100%;
}
.home-banner-cta .btn-default {
    color: #FFF;
    border-color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
}
.home-banner-cta .btn-default:hover {
    border-color: #FFF;
    background-color: rgba(255, 255, 255, 0.5);
    color: #FFF;
}

@media(min-width: 768px) {
    .home-banner-cta {
        top: calc(100vh - 200px);
    }
}
@media(max-width: 767px) {
    .home-banner-logo {
        padding-top: 0;
    }
    .home-banner-logo img {
        display: none;
    }
    .home-banner-logo span {
        display: none;
    }
    .home-banner-cta {
        bottom: 20px;
    }
}

/* Promo text */
.promo-text {
    padding: 70px 0;
    text-align: center;
    font-size: 20px;
    letter-spacing: -1px;
}
.promo-text p.big {
    padding: 20px 0;
    font-size: 28px;
}

/* Contact bar */
.contact-bar {
    margin-left: -15px;
    margin-right: -15px;
    padding: 20px 0;
    background-color: #F9F9F9;
}
.contact-bar .contact-item {
    text-align: center;
    font-size: 20px;
}
@media(max-width: 767px) {
    .contact-bar .contact-item {
        font-size: 16px;
    }
}
.contact-bar .contact-item a {
    display: inline-block;
    margin: auto;
    color: #2B292E;
    text-decoration: none;
    padding: 20px;
    border: 2px solid transparent;
    border-radius: 5px;
}
.contact-bar .contact-item a:hover {
    color: #FFF;
    text-decoration: none;
    border: 2px solid #2B292E;
    background-color: #2B292E;
}
.contact-bar .contact-item a i {
    margin: auto;
    display: block;
    font-size: 28px;
    padding: 10px 0;
}
.contact-bar .contact-item a:hover i {
    text-decoration: none;
}
.contact-bar .contact-item a:hover span {
    text-decoration: none;
}
.contact-bar .contact-item-cta {
    text-align: center;
    padding: 20px 0;
}
.contact-bar .contact-item-cta .btn {
    text-transform: uppercase;
}

/* Map */
.map-div {
    margin-left: -15px;
    margin-right: -15px;
}
.embed-responsive-map {
    padding-bottom: 25%;
}
.embed-responsive-map.map-2 {
    padding-bottom: 40%;
}

@media(max-width: 767px) {
    .embed-responsive-map {
        padding-bottom: 60%;
    }
}

.map-link {
    text-align: center;
    padding: 10px;
    background-color: #F2F1F0;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
}
.map-link a {
    font-weight: bold;
    color: #2B292E;
    text-decoration: none;
}

.map-link a:hover {
    color: #000000;
    text-decoration: underline;
}

/* Contact */
.contact-header {
    padding: 30px 0 10px 0;
}
.contact-div h2 {
    margin-bottom: 20px;
}
.contact-container {
    padding: 10px 0;
}
.contact-container a {
    text-decoration: none;
}
.contact-container a:hover {
    text-decoration: underline;
}
.contact-container i {
    padding-right: 10px;
}


/* Page common */
.page-header {
    padding: 30px 0 10px 0;
}
@media(max-width: 768px) {
    .page-header {
        padding: 0 0 10px 0;
    }
}
.page-top-banner {
    margin-left: -15px;
    margin-right: -15px;
}
.content-div {
    padding: 30px 0;
}

/* Vily */
#vila-list-table {
    display: block;
    transform: translateY(-120px);
}
.vila-list {
    margin: 50px 0;
}
.vila-list .vila-list-header {
    background-color: #2B292E;
    color: #FFF;
}
.vila-list .col-md-1, .vila-list .col-md-2 {
    padding: 5px;
}
.vila-list .item-state {
    text-transform: uppercase;
}
.vila-list .row {
    padding-top: 5px;
    padding-bottom: 5px;
}
.vila-list .row-alt {
    background-color: #F0F0F0;
}
.vila-list .item-column {
    position: relative;
}

@media(max-width: 991px) {
    .vila-list .vila-list-header {
        display: none;
    }
    .vila-list .row {
        padding: 20px 10px;
    }
    .vila-list .item-value {
        position: absolute;
        top: 0;
        right: 0;
        width: 200px;
        text-align: right;
    }
}
@media(min-width: 992px) {
    .vila-list .item-right {
        text-align: right;
    }

    .vila-list .item-center {
        text-align: center;
    }
    .vila-list .item-title {
        display: none;
    }
}

.vila-list .vila-list-note {
    padding-top: 10px;
}

/* Image map */
.img-map-responsive {
    position: relative;
}
.img-map-responsive img {
    max-width: 100%;
}
.img-map-info {
    background-color: #FFF;
    border: 1px solid #2B292E;
    position: absolute;
    padding: 10px;
}

/* Photo gallery */
.gallery-list .gallery-folder {
    margin-bottom: 50px;
}
.gallery-list .gallery-img {
    padding: 10px 0;
}
.gallery-list .photo-gallery-item {
    position: relative;
}
.gallery-list .photo-gallery-item img {
    width: 50%;
}
.gallery-list .photo-gallery-item .photo-gallery-item-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(120, 120, 120, 0.5);
    display: none;
    top: 0;
    left: 0;
    text-align: center;
}
.gallery-list .photo-gallery-item:hover .photo-gallery-item-hover {
    display: block;
    cursor: pointer;
}
.gallery-list .photo-gallery-item .photo-gallery-item-hover i {
    color: #FFFFFF;
    margin: auto;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  display: block;
}


.photo-slider {
    padding: 20px 20px 50px 20px;
}
@media(max-width: 768px) {
    .photo-slider {
        padding: 20px 10px 50px 10px;
    }
}
.photo-slider .photo-slider-toolbar {
    position: relative;
    height: 50px;
}
.photo-slider .photo-slider-toolbar .photo-slider-count {
    padding-left: 15px;
    color: #000000;
    font-weight: bold;
    font-size: 14px;
}
.photo-slider .photo-slider-toolbar .photo-slider-close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #000000;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.photo-slider .lightSlider {
    text-align: center;
}
.photo-slider .lightSlider img.img-ls-responsive{
    margin: 50px;
    max-height: 70vh;
    max-width: 100%;
}
.photo-slider-link {
    cursor: pointer;
}

.slider-wrapper {
    display: none;
}
.slider-wrapper-template {
    display: none;
}
.slider-wrapper .slider-content .photo-slider {
    padding-top: 0;
}

