@inherits UmbracoViewPage
@using NikolaVan.lib.Models
@using NikolaVan.lib.Repositories
@{ MembershipUser user = System.Web.Security.Membership.GetUser();
                bool addSeparator = false; }


@if (user != null)
{
<div class="protected-menubar">
    <nav class="navbar">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-protected" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="title">@user.UserName</div>
    </nav>
    <div id="navbar-protected" class="collapse navbar-collapse">
        <div class="menu">
            @if (System.Web.Security.Roles.IsUserInRole(user.UserName, MemberRepository.NikolaVanMemberAdminRole))
            {
<ul class="admin-menu">
    <li><a href="@Url.Content("~/umbraco")">Správa obsahu webu</a></li>
</ul>
<ul class="customer-menu">
    <li><a href="@Url.Content("~/clenska-sekcia/moje-heslo")">Zmena hesla</a></li>
</ul>                }

        </div>
        @using (Html.BeginUmbracoForm<NikolaVan.lib.Controllers.MemberController>("Logout", null, new { @class = "form-horizontal", role = "form" }))
        {
<div class="logout-btn">
    <a href="#" onclick="document.getElementById('submitProtectedLogoutButton').click(); return false;">ODHLÁSIŤ</a>
    <input type="submit" id="submitProtectedLogoutButton" class="hidden" />
</div>}
    </div>
</div>}


