@inherits Umbraco.Web.Macros.PartialViewMacroPage

<div class="container-fluid">
    <div class="row">
        <!-- Image Slider (Carousel) -->
        <div id="imageSlider" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/Styles/images/Recipe App.png" class="d-block w-100" alt="RecipeApp">
                </div>
                <div class="carousel-item active">
                    <img src="~/Styles/images/AddRecipe.png" class="d-block w-100" alt="RecipeApp 1">
                </div>
                <div class="carousel-item">
                    <img src="~/Styles/images/AddSupplies.png" class="d-block w-100" alt="RecipeApp 2">
                </div>
                <div class="carousel-item">
                    <img src="~/Styles/images/Favourite page.png"  class="d-block w-100" alt="RecipeApp 3">
                </div>
                <div class="carousel-item">
                    <img src="~/Styles/images/todolist.png" class="d-block w-100" alt="RecipeApp 4">
                </div>
                <div class="carousel-item">
                    <img src="~/Styles/images/ingredientlist.png" class="d-block w-100" alt="RecipeApp 5">
                </div>
                <div class="carousel-item">
                    <img src="~/Styles/images/LoginPage.png" class="d-block w-100" alt="RecipeApp 6">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#imageSlider" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#imageSlider" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <h1 id="typing-text">Plant Oasis</h1>
        <p>Aplikácia na vyhľadávanie receptov</p>
        <p><a href="https://github.com/NicolVan/app" class="link">Zdrojový kód tu</a></p>
        <a href="@Url.Content("~/projekty")" class="view-more">Späť na projekty</a>
    </div>
</div>


<script>
    var myCarousel = new bootstrap.Carousel(document.getElementById('imageSlider'), {
        interval: 5000
    });
</script>