@inherits Umbraco.Web.Macros.PartialViewMacroPage

<div class="container-fluid px-20">
    <div class="row justify-content-center text-center">
        <!-- Image Slider (Carousel) -->
        <div id="imageSlider Recipe" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item recipe  active">
                    <img src="~/Styles/images/Recipe App.png" class="d-block" alt="RecipeApp">
                </div>
                <div class="carousel-item recipe">
                    <img src="~/Styles/images/AddRecipe.png" class="d-block" alt="RecipeApp 1">
                </div>
                <div class="carousel-item recipe">
                    <img src="~/Styles/images/AddSupplies.png" class="d-block " alt="RecipeApp 2">
                </div>
                <div class="carousel-item recipe">
                    <img src="~/Styles/images/Favourite page.png" class="d-block" alt="RecipeApp 3">
                </div>
                <div class="carousel-item recipe">
                    <img src="~/Styles/images/ingredientlist.png" class="d-block" alt="RecipeApp 5">
                </div>
                <div class="carousel-item recipe">
                    <img src="~/Styles/images/LoginPage.png" class="d-block " alt="RecipeApp 6">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#imageSlider" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#imageSlider" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <div class="col-12 col-md-8 mt-4">
            <h1 id="typing-text">Recipe App </h1>
            <p>Aplikácia na vyhľadávanie , pridavanie receptov a manažovanie zásob čo umožňuje v obchode rýchlo zistiť čo máme doma čo trea kúpiť.</p>
            <p><a href="https://github.com/NicolVan/app" class="link btn btn-secondary">Zdrojový kód tu</a></p>
            <a href="@Url.Content("~/projekty")" class="view-more btn btn-outline-secondary">Späť na projekty</a>
        </div>
    </div>
</div>


<script>
    var myCarousel = new bootstrap.Carousel(document.getElementById('imageSlider'), {
        interval: 5000
    });
</script>