@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using NikolaVan.lib.Models

@{
    EducationModel edumodel = new EducationModel();
    edumodel.HightSchool = "2014 - 2018 SOŠ Podnikania , Interiérový dizajn";
    edumodel.University = "2018 - 2020 TUKE,  Architektúra a Urbanizmus";
}

<div class="container-fluid">
    <div class="row">
        <h1>Vzdelanie a práca</h1>
        <br>
        <h2>Stredná škola</h2>
        <p>@edumodel.HightSchool</p>
        <br />
        <h2>Vysoká škola</h2>
        <p>@edumodel.University</p>
        <br />
        <h2>Práca</h2>
        <p>2023 - súčasnosť   Pokladník</p>
        <p class="smalls">Labaš s.r.o</p>
        <br />
        <p>2022 - 2023   Plánovač kuchyň</p>
        <p class="smalls"> Asko s.r.o</p>
        <br />
        <p>2020 - 2022    Pokladník</p>
        <p class="smalls">Labaš s.r.o</p>

        <h3>Kurzy</h3>
        <ul>
            @foreach (string nameCourse in edumodel.Namecourses.nameCourse)
            {
                <li><p>@nameCourse</p></li>
            }
        </ul>
    </div>
</div>