@inherits Umbraco.Web.Macros.PartialViewMacroPage
<div>
    <section>
    </section>
    <section>
    </section>
    <section>
    </section>
    <section class="kontakt">
 
    </section>
    <div class="container-fluid">
        <h1 class="display-1">Nikola Vaniščáková</h1>
        <span id="typing-text">Som junior fullstack developer</span>
        <h2 class="mt-4">Špecializujem sa na Umbraco, C# a JavaScript, ale rada sa naučím aj niečo iné.</h2>
        <a href="/projekty" class="btn">Chcem vedieť viac</a>
    </div>
</div>