@inherits UmbracoViewPage

<header class="header">
    <nav class="top-bar navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-logo">
                <a href="@Url.Content("~/")">
                    <img src="@Url.Content("~/styles/images/Me.jpg")" alt="ja" />
                </a>
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="collapse navbar-collapse navbar-menu">
                @Html.Partial("Layout/_MainNavigation")
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</header>

