@inherits UmbracoViewPage

<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
        <div class="navbar-logo">
            <a href="@Url.Content("~/")">
                <img src="@Url.Content("~/styles/images/Me.jpg")" alt="me" class="meming" />
            </a>
        </div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse justify-content-center navbar-menu">
            @Html.Partial("Layout/_MainNavigation")
        </div><!--/.nav-collapse -->
    </div>
</nav>